<div class="row codehub-controls bg-grey">
	<a href="" class="btn btn-default btn-xs">
		<span class="fa fa-check-square"></span>
		Type Check</a>
	<a href="" class="btn btn-default btn-xs">
		<span class="fa fa-play"></span>
		Run</a>
	<a href="" class="btn btn-default btn-xs">
		<span class="fa fa-bars"></span>
		Output</a>

		|

	<a href="" class="btn btn-default btn-xs">
		<span class="fa fa-cloud-upload"></span>
		Upload</a>
	<a href="" class="btn btn-default btn-xs">
		<span class="fa fa-cloud-download"></span>
		Download</a>
	<a href="" class="btn btn-default btn-xs">
		<span class="fa fa-trash-o"></span>
		Delete</a>	

		|

	<a href="" class="btn btn-default btn-xs">
		<span class="fa fa-cog"></span>
		Setting</a>
</div>