<div class="meta">
	<a href="" class="btn btn-default btn-xs">
		<span class="fa fa-thumbs-o-up"></span>
		Like
		<span>64</span>
	</a>

	<a href="" class="btn btn-default btn-xs">
		<span class="fa fa-thumbs-o-down"></span>
		Dislike
		<span>64</span>
	</a>

	<a href="" class="btn btn-default btn-xs">
		<span class="fa fa-pencil"></span>
		Edit
	</a>

	<div class="pull-right">
		Last edited by 
		<a class="creator">Hanwen Wu</a>
		on
		<span class="date">2013-03-03</span>
		<span class="time">12:13</span>
	</div>
</div>